#termsandconditions,
#termsofservice {
  textarea {
    width: 100%;
  }

  input {
    width: 230px;
  }

  label span {
    display: inline-block;
    min-width: 120px;
    padding: 8px 0px;
    vertical-align: top;
  }

  .dropdown.v-select.single {
    width: 320px;
  }
}
