#terms_of_service_confirm {
	.v--modal-overlay {
		z-index: 99999;
	}

	.v--modal-overlay .v--modal-box {
		max-height: 300px;
		overflow: auto;
	}
}

#tos-overlay {
	padding: 10px;

	h3 {
		float: left;
		font-weight: 800;
	}

	button {
		margin: 0 auto;
		display : block;
	}

	select {
		float: right;
		padding: 0 12px;
	}

	.clear-both {
		clear: both;
	}

	/**
	 * Basic Markdown support
	 */
	div.text-content {
		h3 {
			font-weight: 800;
		}

		p {
			padding-top: 5px;
			padding-bottom: 5px;
		}

		ol {
			padding-left: 12px;
		}

		ul {
			list-style-type: disc;
			padding-left: 25px;
		}

		a {
			text-decoration: underline;
			color: var(--color-main-text) !important;
		}
	}
}
