/* extracted by css-entry-points-plugin */
@import './registration-BkdJ1_Yv.chunk.css';
@import './_plugin-vue_export-helper-CfJ8J9U1.chunk.css';
@import './logger-BPXfPjuZ.chunk.css';
@import './style-DEOFYSaj.chunk.css';