name: Lint

on:
  pull_request:
  push:
    branches:
      - master
      - stable*

jobs:
  php:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-versions: ['7.4', '8.0']

    name: php${{ matrix.php-versions }}
    steps:
      - uses: actions/checkout@v2

      - name: Set up php ${{ matrix.php-versions }}
        uses: shivammathur/setup-php@v1
        with:
          php-version: ${{ matrix.php-versions }}
          coverage: none

      - name: Lint
        run: composer run lint

  node:
    runs-on: ubuntu-latest

    name: eslint node
    steps:
      - uses: actions/checkout@v2

      - name: Set up node
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Set up npm7
        run: npm i -g npm@7

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

  stylelint:
    runs-on: ubuntu-latest

    name: stylelint node
    steps:
      - uses: actions/checkout@v2

      - name: Set up node
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Set up npm7
        run: npm i -g npm@7

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run stylelint
